<div class="row">
  <div class="card m-4" style="width: 18rem;">
    <img class="card-img-top" src="/assets/profile-image.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ 'card-title' | translate}}</h5>
      <p class="card-text">{{'card-detail' | translate}}</p>
      <a href="#" class="btn btn-outline-dark">{{'go-somewhere' | translate}}</a>
    </div>
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-outline-dark" (click)="chnagelanguage('en')">{{'english' | translate}}</button>
  <button class="btn btn-outline-dark" (click)="chnagelanguage('sp')">{{'spanish' | translate}}</button>
  <button class="btn btn-outline-dark" (click)="chnagelanguage('ar')">{{'arabic' | translate}}</button>
</div>